/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #e0f7fa;
    color: #00695c;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background: #00796b;
    color: white;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  header p {
    margin: 10px 0 0;
  }
  
  main {
    padding: 20px;
  }
  
  #exploration {
    text-align: center;
  }
  
  .exploration-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    background: white;
    border: 1px solid #b2dfdb;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .card h3 {
    margin-top: 10px;
  }
  
  #details {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #b2dfdb;
  }
  
  .hidden {
    display: none;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0%;
    width: 100vw;
    background: #004d40;
    color: white;



  }
  .cookie-banner {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #fef3c7;
    border: 1px solid #fcd34d;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    z-index: 1000;
  }
  
  .cookie-banner p {
    margin: 0;
    font-size: 1rem;
    color: #b45309;
  }
  
  .cookie-banner button {
    background-color: #f59e0b;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .cookie-banner button:hover {
    background-color: #d97706;
  }
  